In [1]:
 # Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import time
import json
import csv

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Import API key
from api_keys import weather_api_key

#Import Data files:
new_zealand_df = pd.read_csv("airbb_data/new_zealand.csv")

new_zealand = new_zealand_df[['latitude', 'longitude']]

# Output File (CSV)
#output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
new_zealand.head()

   latitude  longitude
0 -38.13493  178.31671
1 -39.45078  173.84357
2 -38.99097  175.80902
3 -38.73298  177.58658
4 -37.67498  176.23216

In [3]:
new_zealand['city'] = new_zealand.apply(lambda row: citipy.nearest_city(row.latitude, row.longitude).city_name, axis = 1)

#for row in new_zealand:
 #   row = new_zealand.index
  #  new_zealand['city'] = citipy.nearest_city(new_zealand['latitude'][row], new_zealand['longitude'][row]).city_name



#city = citipy.nearest_city(new_zealand['latitude'], new_zealand['longitude']).city_name
    
# If the city is unique, then add it to a our cities list
#if city not in cities:
 #   cities.append(city)

# Print the city count to confirm sufficient count
#len(cities)
#print(cities)

C:\Users\Beverly\anaconda3\envs\case_python\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [4]:
new_zealand.head()

   latitude  longitude        city
0 -38.13493  178.31671  tolaga bay
1 -39.45078  173.84357     opunake
2 -38.99097  175.80902     turangi
3 -38.73298  177.58658    manutuke
4 -37.67498  176.23216    tauranga

In [21]:
new_zealand_cities = new_zealand[['city']].groupby(['city'])
new_zealand_cities_df = new_zealand_cities.sum()
new_zealand_cities_df.reset_index(level=0, inplace=True)
new_zealand_cities_df

          city
0      ahipara
1     amberley
2     athenree
3     auckland
4    balclutha
..         ...
146  whangarei
147  whitianga
148     winton
149    woodend
150    wyndham

[151 rows x 1 columns]

In [23]:
nz_city = new_zealand_cities_df['city']
nz_city
city_list = nz_city.values.tolist()
city_list

['ahipara',
 'amberley',
 'athenree',
 'auckland',
 'balclutha',
 'bluff',
 'bombay',
 'brightwater',
 'bulls',
 'burnham',
 'christchurch',
 'clyde',
 'coromandel',
 'darfield',
 'dargaville',
 'dobson',
 'dunedin',
 'edendale',
 'edgecumbe',
 'eltham',
 'fairlie',
 'foxton',
 'gisborne',
 'greymouth',
 'hamilton',
 'hanmer springs',
 'hastings',
 'havelock',
 'hawera',
 'himatangi',
 'hokitika',
 'hunterville',
 'invercargill',
 'kaeo',
 'kaitangata',
 'kaiwaka',
 'karamea',
 'katikati',
 'kawakawa',
 'kawerau',
 'kawhia',
 'kerepehi',
 'kerikeri',
 'leeston',
 'levin',
 'lincoln',
 'lower hutt',
 'maketu',
 'mamaku',
 'manaia',
 'manutuke',
 'mapua',
 'masterton',
 'matata',
 'maungatapere',
 'maungaturoto',
 'methven',
 'milton',
 'moerewa',
 'murchison',
 'muriwai beach',
 'murupara',
 'napier',
 'nelson',
 'new plymouth',
 'ngatea',
 'ngunguru',
 'north shore',
 'ohaeawai',
 'okaihau',
 'okato',
 'opotiki',
 'opunake',
 'otaki',
 'otane',
 'otautau',
 'otorohanga',
 'outram',
 'oxford',
 'paengaroa',
 'paeroa',
 'paihia',
 'palmerston north',
 'parakai',
 'pareora',
 'patea',
 'piopio',
 'pleasant point',
 'porirua',
 'raglan',
 'rakaia',
 'ranfurly',
 'reefton',
 'reporoa',
 'riverton',
 'riwaka',
 'rolleston',
 'rongotea',
 'ruatoria',
 'russell',
 'sanson',
 'seddon',
 'sefton',
 'southbridge',
 'tairua',
 'takaka',
 'takapau',
 'taneatua',
 'taupo',
 'tauranga',
 'te anau',
 'te horo',
 'te karaka',
 'te kauwhata',
 'thames',
 'timaru',
 'tirau',
 'tokomaru',
 'tokoroa',
 'tolaga bay',
 'tuatapere',
 'turangi',
 'vaini',
 'waharoa',
 'waihi',
 'waihi beach',
 'waikuku',
 'waimana',
 'waiouru',
 'waipawa',
 'wairoa',
 'waitakere',
 'waitara',
 'waitati',
 'waiuku',
 'wakefield',
 'wallacetown',
 'wanaka',
 'wanganui',
 'warkworth',
 'waverley',
 'wellington',
 'wellsford',
 'westport',
 'whakatane',
 'whangamata',
 'whangarei',
 'whitianga',
 'winton',
 'woodend',
 'wyndham']

In [ ]:
#Performing API Calls
#Fields:
#City, Lat
#    Lng
#   Max Temp
#  Humidity
# Cloudiness
#Wind Speed
#Country
#Date
#weather_json["main"]["temp"]

In [ ]:
#Open weather information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial"

weather_df = new_zealand.copy()

In [ ]:

#field_names
#empty lists for the fields of our future city weather csv
city_list = []
lat = []
lng = []
max_temp = []
humidity = []
cloudiness = []
wind_speed = []
country = []
date = []

In [ ]:
#for city in new_zealand(['city']):
    
    #Get the city's number
#    city_no = cities.index(city) + 1
    
    try:
        query_url = f"{url}appid={weather_api_key}&q={city}&units={units}"
        
        

        # Get weather data
        weather_response = requests.get(query_url)
        weather_json = weather_response.json()

        #Put the city's weather into lists
        city_list.append(weather_json["name"])
        lat.append(weather_json["coord"]["lat"])
        lng.append(weather_json["coord"]["lon"])
        max_temp.append(weather_json["main"]["temp_max"])
        humidity.append(weather_json["main"]["humidity"])
        cloudiness.append(weather_json["clouds"]["all"])
        wind_speed.append(weather_json["wind"]["speed"])
        country.append(weather_json["sys"]["country"])
        date.append(weather_json["dt"])
        
        print(f"Getting {city}\'s weather information(City #{city_no})." )
    except KeyError:
        print(f"Can't find {city} (City #{city_no}) .")

In [ ]:
#Putting city results into a csv
city_dict = {'City': city_list, 'Lat': lat, 'Lng': lng, "Max Temp": max_temp, "Humidity": humidity, "Cloudiness": cloudiness, "Wind Speed": wind_speed, "Country": country, "Date": date}

In [ ]:
zd = zip(*city_dict.values())
#, encoding='utf-8'

with open("output_data/cities.csv", 'w', encoding='utf-8') as file:
    writer = csv.writer(file, delimiter=',', lineterminator = '\n')
    writer.writerow(city_dict.keys())
    writer.writerows(zd)

In [ ]:
#Dataframe of our city data
city_df = pd.read_csv("output_data/cities.csv")
city_df.head()